@model IList<Domain.Model.Auth_User>

@section styles{
    <style type="text/css">
        form { margin: 0; }
    </style>
}

<div class="btn-toolbar">
    <a href="@Url.Action("Add")" class="btn btn-primary"><i class="icon-plus"></i> 新增用户</a>
    <div class="pull-right">
        <form class="form-search" method="GET">
            <div class="input-append">
                <input type="text" class="input-medium search-query" id="username" name="username" value="@Html.Encode(Request.QueryString["username"])"/>
                <button type="submit" class="btn"><i class="icon-search"></i> 搜索</button>
            </div>
        </form>
    </div>
</div>

@Html.ShowNotice()

<div class="well">
    <table class="table">
        <thead>
            <tr>
                <th>用户名</th>
                <th>E-mail地址</th>
                <th>姓名</th>
                <th>超级管理员</th>
                <th>启用状态</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            @if(Model!=null)
            {
                foreach (var user in Model)
                {
                    <tr>
                        <td><a href="@Url.Action("Edit",new{id=user.Id})">@user.Username</a></td>
                        <td>@user.Email</td>
                        <td>@user.RealName</td>
                        <td><i class="@(user.IsSuperUser?"icon-ok":"icon-remove")"></i></td>
                        <td><i class="@(user.IsEnabled ? "icon-ok" : "icon-remove")"></i></td>
                        <td>
                            @using(Html.BeginForm("Delete","User"))
                            {
                                @Html.Hidden("Id",user.Id)
                                <a href="#" data-action="delete"><i class="icon-remove"></i></a>
                            }
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

@section scripts{
    <script type="text/javascript">
        $("a[data-action=delete]").click(function (e) {
            e.preventDefault();
            if(confirm("你确定要删除吗？")) {
                $(this).closest("form").submit();
            }
        });
    </script>
}