@model Admin.Models.ChangePasswordViewModel

@{
    ViewBag.Title = "修改密码";
}

@Html.ShowNotice()

<div class="well">
    <fieldset>
        <legend>修改密码</legend>
        <form method="POST" class="form-horizontal">
            @using(Html.ControlGroupFor(t=>t.RawPassword))
            {
                @Html.LabelFor(t=>t.RawPassword,new{@class="control-label"})
                <div class="controls">
                    @Html.PasswordFor(t=>t.RawPassword,new{@class="input-xlarge"})
                    @Html.ValidationMessageFor(t=>t.RawPassword,null,new{@class="help-block"})
                </div>
            }
            @using(Html.ControlGroupFor(t=>t.Password))
            {
                @Html.LabelFor(t=>t.Password,new{@class="control-label"})
                <div class="controls">
                    @Html.PasswordFor(t=>t.Password,new{@class="input-xlarge"})
                    @Html.ValidationMessageFor(t=>t.Password,null,new{@class="help-block"})
                </div>
            }
            @using(Html.ControlGroupFor(t=>t.ConfirmPassword))
            {
                @Html.LabelFor(t=>t.ConfirmPassword,new{@class="control-label"})
                <div class="controls">
                    @Html.PasswordFor(t=>t.ConfirmPassword,new{@class="input-xlarge"})
                    @Html.ValidationMessageFor(t=>t.ConfirmPassword,null,new{@class="help-block"})
                </div>
            }
            <div class="form-actions">
                <button type="submit" class="btn btn-primary"><i class="icon-save"></i> 保存</button>
            </div>
        </form>
    </fieldset>
</div>